:root {
    --color-black: #1c1e2c;
    --color-blue-primary10: #0075ff;
    --color-blue-primary20: #4fa0ff;
    --color-green-primary10: #0da800;
    --color-green-primary20: #8bd866;
    --color-orange-primary10: #ff3d00;
    --color-orange-primary20: #ff7a00;
    --color-purple-primary10: #7200A8;
    --color-purple-primary20: #8951CF;
    --color-red-primary10: #bf002e;
    --color-red-primary20: #cf516f;
}